.wiki {
    background: #34495E;
    width: 100%;
    min-height: 100%;
    padding: 20px 48px;
}   

.wiki__logo {
    display: flex;
    height: 60px;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    font-size: 14px;
}

.wiki__logo p {
    line-height: 30px;
    margin: 0;
    border-bottom: 1px solid #CF4242;
}

.wiki__content {
    padding-top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.templates {
    display: flex;
    flex-direction: row;
}

.template {
    display: flex;
    flex-direction: row;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    text-decoration: none;
    width: 140px;
    height: 80px;
    margin-right: 25px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease-out;
}

.template:hover {
    box-shadow: rgb(109, 47, 47) 4px 4px 10px #fff;
    transition: all 0.5s ease-out;
    height: 80px;
}

.template p {
    margin: 0;
}

.template__text {
    font-size: 12px;
    text-align: center;
}

.template__menu {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 38px;
    background: #14212E;
    transition: width 2s;
}

.template:hover .template__menu {
    display: flex;
    justify-content: center;
    width: 137px;
    right: 1px;
    height: 38px;
    transition: width 2s;
}


i .template__icon [class^="oc-icon-"] {
    padding: 0;
    margin: 0;
}

.template__menu .icon {
    display: flex;
    width: 100%;
    margin: 0 10px;
    justify-content: space-around;
    align-items: center;
}

.template__menu .icon .icon__button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.template__menu .icon .icon__button:hover {
    width: 40px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #10161C;
}

.template__menu .icon .delete:hover {
    background-color: #CF4242;
}

.template__menu a {
    color: #fff;
    text-decoration: none;
}

.tree {
    box-sizing: border-box;
}

.tree li, .tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
}

.tree ul {
    flex-direction: column;
}

.tree li::before, .tree li::after {
    content: '';
    left: -25px;
    position: absolute;
    right: auto
}

.tree li::before {
    width: 12px;
    left: -12px;
    border-top: 1px solid #fff;
    top: 20px;
}

.tree li::after {
    width: 25px;
    height: 100%;
    top: 20px;
    left: -12px;
    border-left: 1px solid #fff;
    
}

.tree li .parent_li > span {
    cursor: pointer;
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}

.tree li:only-child::before {
    width: 25px;
    left: -25px;
}

.tree li:last-child::after {
    height: 0;
    left: 0;
}

.tree a:hover {
    color: #fff;
    text-decoration: none;
}

.tree .add {
    height: 40px !important;
}

.tree .add:hover {
    border: 1px solid #aaa;
}

.box {
    position: absolute;
    right: -10px;
    top: 10px;
    background: #34495E;
    border: 1px solid #fff;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.box:hover {
    background-color: #14212E;
}

.minus::before, .minus::after {
    content: '';
    position: absolute;
}

.minus::after {
    width: 4px;
    border-top: 1px solid #fff;
    top: 8px;
    left: 19px;
}