.wiki {
    background: #34495E;
    width: 100%;
    min-height: 100%;
    padding: 20px 48px;
}   

.wiki__logo {
    display: flex;
    height: 60px;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    font-size: 14px;
}

.wiki__logo p {
    line-height: 30px;
    margin: 0;
    border-bottom: 1px solid #CF4242;
}

.wiki__content {
    padding-top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content__templates a, .content__templates a:hover {
    text-decoration: none;
}

.templates {
    display: flex;
    flex-direction: row;
}

.template {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
    color: #fff;
    width: 120px;
    height: 120px;
    margin-right: 20px;
}



.template:hover {
    color: #aaa;
    border: 1px solid #aaa;
    box-shadow: 4px 4px 10px #14212E;
    transition: all 0.5s ease-out;
}

.template:hover .template__menu {
    display: flex;
    width: 100%;
    height: 30px;
    padding-top: 20px;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.template:hover .template__icon {
    display: none;
    transition: all 0.5s ease-out;
}

.template:hover .template__text {
    padding-top: 20px;
    transition: all 0.5s ease-out;
}

.template p {
    margin: 0;
}


.template__icon {
    padding: 20px 0;
}

.template [class^="oc-icon-"]:before, .template [class*=" oc-icon-"]:before {
    margin-right: 0;
    font-size: 32px;
}

.template__menu a:hover .icon-trash {
    color: #CF4242;
}

.template__text {
    font-size: 12px;
    text-align: center;
}

.template__menu {
    display: none;
    height: 0;
}

.template__menu .icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template__menu a {
    color: #fff;
}


.tree li, .tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
}

.tree ul {
    flex-direction: column;
}

.tree li::before, .tree li::after {
    content: '';
    left: -25px;
    position: absolute;
    right: auto
}

.tree li::before {
    width: 12px;
    left: -12px;
    border-top: 1px solid #fff;
    top: 13px;
}

.tree li::after {
    width: 25px;
    height: 100%;
    top: 13px;
    left: -12px;
    border-left: 1px solid #fff;
    
}

.tree li .template {
    border: 1px solid #fff;
    padding: 10px;
    text-decoration: none;
    width: 120px;
    height: 120px;
    margin-right: 25px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tree li .parent_li > span {
    cursor: pointer;
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}

.tree li:only-child::before {
    width: 25px;
    left: -25px;
}

.tree li:last-child::after {
    height: 0;
    left: 0;
}

.tree li .parent_li  >span:hover, .tree li .parent_li > span:hover + ul li span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000
}

.tree .but {
    position: absolute;
    right: -5px;
    top: 3px;
}

.minus::before, .minus::after {
    content: '';
    position: absolute;
}

.minus::after {
    width: 9px;
    border-top: 1px solid #fff;
    top: 9px;
}