<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body>

    <div class="tree ">
        <ul>
            <li>
                <div class="card"> Менюшка </div>
                <ul>
                    <li>
                        <div class="card"> Менюшка</div>
                        <ul>
                            <li>
                                <div class="card"> Менюшка</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="card"> Менюшка</div>
                        <ul>
                            <li>
                                <div class="card"> Менюшка</div>
                            </li>
                            <li>
                                <div class="card"> Менюшка</div>
                                <ul>
                                    <li>
                                        <div class="card"> Менюшка</div>
                                        <ul>
                                            <li>
                                                <div class="card"> Менюшка
                                                    <div class="extension"> Менюшка</div>
                                                    <div class="extension"> Менюшка</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card"> Менюшка</div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="card"> Менюшка</div>
                                    </li>
                                    <li>
                                        <div class="card"> Менюшка</div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="card"> Менюшка</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <div class="card"> Менюшка</div>
                <ul>
                    <li>
                        <div class="card"> Менюшка</div>
                </ul>
            </li>
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(function () {
            $('.tree li:has(ul)').addClass('parent_li').find(' > .card').attr('title', 'Collapse this branch')
                .append('<div class="but minus"><i class="fa fa-minus-square"></i></div>');
            $('.card > .but').on('click', function (e) {
                var children = $(this).parent('.card').parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).addClass('plus').removeClass('minus')
                    $(this).attr('title', 'Expand this branch').find(' > i').addClass('fa-plus-square')
                        .removeClass('fa-minus-square');
                } else {
                    children.show('fast');
                    $(this).addClass('minus').removeClass('plus')
                    $(this).attr('title', 'Collapse this branch').find(' > i').addClass(
                        'fa-minus-square').removeClass('fa-plus-square');
                }
                e.stopPropagation();
            });
        });
    </script>
</body>

</html>