<div class="template">
    <i class="template__icon <?= $icon ?>"></i>
    <p class="template__text"><?= $title ?></p>
    <div class="template__menu">
        <a href="templates/update/<?= $id ?>"><i class="icon icon-edit"></i></a>
        <a
            data-request="onDelete"
            data-request-data="id: <?= $id ?>"
            data-request-confirm="Are you sure you want to delete the selected Template?"
            data-request-update="template: \'.templates\'">
            <i class="icon icon-trash"></i>
         </a>
    </div>
</div>