<?php 
    $top_nodes = \Crydesign\Wiki\Models\Template::where('parent_id', null)->get();
?>

<div class="tree">
    <ul>
        <?php
            function templateTree($node, $controller)
            {
                echo '<li>';
                echo $controller->makePartial('partials/card', $node->attributes);
                if (!$node->children->isEmpty()) {
                    echo '<ul>';
                    foreach ($node->children as $children){
                        
                            templateTree($children, $controller);
                    }
                    echo '</ul>';
                }
                echo '</li>';
            }

            foreach ($top_nodes as $node) {
                templateTree($node, $this);
            }
        ?>
    </ul>
</div>

<a class="template" href="templates/create">
    <img class="template__icon" src="./../../../plugins/crydesign/wiki/assets/images/add.svg" alt="logo">
    <p class="template__text">New Template</p>
</a>

<script>
    $(function () {
        $('.tree li:has(ul)').addClass('parent_li').find(' > .template').attr('title', 'Collapse this branch')
            .append('<div class="but minus"></div><div class="box"><i class="icon-minus"></i></div>');
        $('.template > .box').on('click', function (e) {
            var children = $(this).parent('.template').parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).addClass('plus').removeClass('minus')
                $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus')
                    .removeClass('icon-minus');
            } else {
                children.show('fast');
                $(this).addClass('minus').removeClass('plus')
                $(this).attr('title', 'Collapse this branch').find(' > i').addClass(
                    'icon-minus').removeClass('icon-plus');
            }
            e.stopPropagation();
        });
    });
</script>
